body {
  margin-top: 20px;
}

.todo-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.todo-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border: 2px solid #e5e7e8;
}

.todo-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}
